header {
    background-color: lightcoral;
    margin: auto;
    font-family: 'Lucida Sans';
    text-align: center;
}

menu {
    background-color: lightgoldenrodyellow;
    top: 10px;
}

ul {
    list-style: none;
    text-align: center;
    margin: auto;
}

li {
    display: inline;
    margin: auto;
    font-family: 'Lucida Sans';
    font-size: 20px;
    padding: 75px;
}

body {
    background-color: burlywood;
    margin: auto;
}

main {
    background-color: purple;
    height: 550px;
    padding-top: 50px;
    margin: auto;
}

.gamebox {
    width: 900px;
    height: 500px;
    margin: auto;
    background-color: lightskyblue;
}

.reset{
    font-family: 'Lucida Sans';
}

footer {
    background-color: lightgreen;
    margin: auto;
}